@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using EntityLayer.Concrete

@model List<Gorev>


    <!DOCTYPE html>
    <html>
        <head>
    <title>Görev Listesi</title>
        </head>

        <body>
            <table>
                <thead>
            <tr>
                <th>Görev ID</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Oluşturulma Tarihi</th>
                <th>Tahmini Bitiş Tarihi</th>
                <th>Görev Durum</th>
            </tr>
                </thead>
                <tbody>

            @foreach (var g in Model)
            {
                <tr>
                    <td>@g.GorevId</td>
                    <td>@g.GorevBaslik</td>
                    <td>@g.GorevAciklama</td>
                    <td>@g.GorevOlusturulmaTarihi</td>
                    <td>@g.TahminiBitisTarihi</td>
                    <td>@g.GorevAktif</td>
                </tr>
               
            }
                </tbody>
            </table>
   
        </body>
    </html>